<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File upload</title>
</head>
<body>
    <h1>signup Fileupload</h1>
    <form method="POST" action="/upload" enctype="multipart/form-data" >
        <span>
            upload file
        </span>
        <input type="file" name="mypic"><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>